header{
     background-color: maroon;
}

.banner{
    width: 100%;
}

.container{
    width: 80%;
    background-color: rgb(247, 86, 113);
    margin: auto;
}

footer{
    background-color:blue;
    width: 100%;
}