p{
    color: rgb(231, 10, 231);
    font-family: algerian;
    font-size: 20px;
}
.um{
    color: aquamarine;
    font-family: algerian;
    font-size: 20px;
}
.dois{
    color: deeppink;
    font-family: algerian;
    font-size: 20px;
}
.titulo{
    color: rgb(70, 176, 241);
    font-family: algerian;
    font-size: 20px;

}